.promo {
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
  background-image: url(../../img/Img.png);
  padding: 200px 0px;
  &__title {
    color: aliceblue;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px; /* or 136% */
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
}
